<h1 class="page-header">Edit Blog</h1>

<!-- Custom Success/Error Message -->
<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>
<!-- Custom Success/Error Message -->

<!-- Edit Blog -->
<form (submit)="updateBlogSubmit()" *ngIf="!loading">
	<!--Title-->
	<div class="form-group">
		<label for="title">Title</label>
		<input [disabled]="processing" type="text" name="title" placeholder="*Blog Title" class="form-control" [(ngModel)]="blog.title" />
	</div>
	<!--Title-->

	<!--Body-->
	<div class="form-group">
		<label for="body">Body</label>
		<textarea type="text" [disabled]="processing" name="body" rows="8" cols="80" placeholder="*Blog Body" class="form-control" [(ngModel)]="blog.body"></textarea>
		<a routerLink="['/delete-blog/', blog._id]" ><button [disabled]="processing" type="button" name="button" class="btn btn-danger">Delete</button></a>
		<button type="button" name="button" class="btn btn-success" (click)="goBack()" [disabled]="processing" >Go Back</button>
		<button type="submit" name="save" class="btn btn-info" [disabled]="processing">Save Changes</button>
	</div>
	<!--Body-->
</form>

<!-- Edit Blog -->