
<h1 class="page-header">Register Page</h1>

<form>
  
  <div class="form-group">
    <label for="username">Username</label>
    <div>
      <input type="text" name="username" class="form-control" autocomplete="off" placeholder="*Username" />
    </div>
  </div>

  <div class="form-group">
    <label for="email">E-mail</label>
    <div>
      <input type="text" name="email" class="form-control" autocomplete="off" placeholder="*E-mail" />
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <div>
      <input type="text" name="password" class="form-control" autocomplete="off" placeholder="*Password" />
    </div>
  </div>

  <div class="form-group">
    <label for="confirm">Confirm Passowrd</label>
    <div>
      <input type="text" name="confirm" class="form-control" autocomplete="off" placeholder="*Confirm Password" />
    </div>
  </div>

  <input type="submit" value="Submit" class="btn btn-primary" />
</form>