nav.navbar.navbar-default {
	background-color: lightblue;
	/*border-color: #070707;*/
}

/* unvisited link */
.navbar-default .navbar-nav>li a:link {
    color: blue;
}

/* visited link */
.navbar-default .navbar-nav>li a:visited {
    color: black;
}

/* mouse over link */
.navbar-default .navbar-nav>li a:hover {
    color: red;
}

/* selected link */
.navbar-default .navbar-nav>li a:active {
    color: purple;
}

a.navbar-brand {
    color: green;
}

a.navbar-brand:hover {
    color: red;
}


